:root {
    --color--naranja: #D98E04;
    --color--amarillo: #EFBD27;
    --color--noblanco: #f2f2f2 ; 
}

@font-face {
    font-family: "font";
    src: url("/assets/Fractured\ Fir.otf");
}
* {
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    list-style: none;

    box-sizing: border-box;

    padding: unset;
    margin: unset;

    outline: unset;
}

h2 {
    font-size: 46px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: "font";
}

.button {
    padding: 15px 35px;
    border-radius: 5px;
    border: solid 2px transparent;


    background-image: linear-gradient( 60deg, var(--color--naranja), var(--color--amarillo)) ;

    font-weight: 700;
    color: #f2f2f2;
    
}

.icons {
    height: 56px;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.621);
}

.navbar__nav__list {
    display: flex;
    gap: 15px
    ;
}


.Jumbotron {
    background-image:url('/assets/6f8ed4a6-b1e9-40ba-9d7d-81cd4a0110a3.jpg') ;
    background-size: cover ;
    background-position: center; 
    height: 500px;

}


.footer__nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.footer__nav__ul{
    display: flex;
    flex-direction: column;

}