:root {
    --color--naranja: #D98E04;
    --color--amarillo: #EFBD27;
    --color--noblanco: #f2f2f2 ; 
    --color--oscuro: #1c1512 ;
}

@font-face {
    font-family: "font";
    src: url("/assets/Fractured\ Fir.otf");
}
* {
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    list-style: none;

    box-sizing: border-box;

    padding: unset;
    margin: unset;

    outline: unset;
}


h1 {
    font-size: 46px;
    font-weight: 800;
}

h2 {
    font-size: 46px;
    font-weight: 550;
    text-align: center;
    padding: 15px 30px;
    color: #f2f2f2;
    background-color: #1c1512 ;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: "font";
}

.button {
    padding: 15px 35px;
    border-radius: 5px;
    border: solid 2px transparent;


    background-image: linear-gradient( 60deg, var(--color--naranja), var(--color--amarillo)) ;

    font-weight: 700;
    color: #f2f2f2;
    
}

.icons {
    height: 56px;

}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    color: #f2f2f2;
    background-color: #1e1e1ecc;
    
}

.navbar__nav__list {
    display: flex;
    gap: 15px;
}

.header__img {
    background-image: url("/assets/pexels-valeriya-1639562.jpg");
    background-size: cover;
    background-position: center;
    height: 647px;
}

.Jumbotron {
    display: flex;
    flex-direction: column;
    text-align: start;

    

    margin: 60px;
    padding-right: 760px ;


    color: #f2f2f2;

}

.razones {
    display: flex;
    align-items: center ;
    text-align: center;
} 

.img_1 {
    width: 570px;
}

.tarjetas {
    display: flex;
}

.informacion {
    display: flex;
    align-items: center;   

}

.img_3 {
    height: 419px;
    width: 652px;
}

.menu {
    display: flex;
    
}

.img_2 {
    height: 178px;
}

.footer__nav {
    display: flex ;
    align-items: end;
    justify-content: space-between;
}
.footer__nav__ul{
    display: flex;
    flex-direction: column;
}