* {
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    list-style: none;

    box-sizing: border-box;

    padding: unset;
    margin: unset;

    outline: unset;
}

h2 {
    font-size: 46px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav__list {
    display: flex;
    gap: 15px
    ;
}

.papa {
    display: flex;
    align-items: center;
    
}

.papa1 {
    display: flex;
}

.papa3 {
    display: flex;
}

.papa4 {
    display: flex;
    align-items: center;
}
